<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>login page</title>
  </head>
  <body>
    <form action="{% url 'procheckapp:user_login' %}" method="POST">
      {% csrf_token %}
      <label for="username">username:</label>
      <input type="text" name="username" placeholder="Enter username">

      <label for="password">password:</label>
      <input type="password" name="password" placeholder="enter password">


      <input type="submit" name="" value="Login">
    </form>
  </body>
</html>
